/* Style the login site */

body {
    background: url("/static/img/herb.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


/*/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

div.container {
    display: table;
    width: 80%;
    height: 100%;
}

.flash-msg {
    color: white;
    font-family: sans-serif;
    background: #de1f01 !important;
    padding: 5px;
    text-align: center;
}


.login-register-form-section {
    max-width: 350px;
    margin: 90 auto;
}

.login-register-form-section i {
    width: 10px;
}

.login-register-form-section .nav-tabs > li > a {
    color: #2abb9b;
}
 
.login-register-form-section .nav-tabs > li.active > a {
    background-color: #2abb9b;
    border-color: #2abb9b;
    color: white;
}

.login-register-form-section .nav-tabs > li > a, 
.login-register-form-section .nav-tabs > li.active > a {
    width: 160px;
    text-align: center; 
    border-radius: 0;
}

.login-register-form-section .nav-tabs {
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.login-register-form-section .btn-custom {
    width: 100%;
    background-color: #2abb9b;
    border-color: #2abb9b;
    margin-bottom: 0.5em;
    border-radius: 0;
}

.login-register-form-section .btn-custom:hover {
    width: 100%;
    background-color: #48A497;
    border-color: #2abb9b;
}

.login-register-form-section .form-group {
    padding: 0 20px;
}
