/* Style the HerbMates site */

html, body {
    height: 100%;
    margin: 0px;
}

div.container-list {
    background: url("/static/img/list.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    height: 100%;
    padding-top: 20px;
}

div.content {
    margin: 15px !important;
}

span.name {
    color: green;
}

/*a.navbar-brand { 
    margin-left: -60px !important;
    font-size: 22px;

}*/
/*div.navbar-collapse {
    font-size: 18px;
    border: blue;
}*/
/*div.navbar-header img {
    width: 40px;
    float: left;
    margin-left: -100px;
    margin-top: 7px;
    margin-right: 7px;
}*/


div.card {
    margin: 10px;
}

div.bootcards-list img {
    width: 90px !important;
    border-radius: 100px;
    overflow: hidden;
    border: 1px #9c9999 solid;
}

div.pending {
    border: solid 3px #de1f01 !important;
}

p.action-btn {
    text-align: right;
    padding-top: 10px;
}

p.notification {
    text-align: center;
    padding-top: 10px;
}

/**.swal2-popup {
  font-size: 1.6rem !important;
}**/

.card-content {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
