{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <p style="width: 100%; text-align: right; font-size: 10pt;"><a style="color: red;" href="/logout/">LOGOUT</a></p>
  <h1>Welcome back, {{ user.fname|title }}! Need an Herb? Donating an herb?</h1>

  <ul>
    {% for listing in inventory %}
      <li>
        <a href="/herbs/{{ listing.inventory_id }}">
          {{ listing.herb.herb_name }}
        <img src="{{ listing.user_img_url }}">
        </a>
        <p>{{ listing.pickup_instructions }}</p>
      </li>
    {% endfor %}
  </ul>

  
{% endblock %}