{% extends 'base.html' %}
{% block title %}HerbMates{% endblock %}

{% block body %}

<div class="user-details">
    <span class="welcome-main">Welcome to <b>Herbmates</b>, <span class="name">{{ user.fname.strip()|title }}!</span></span>
    <br>
    <span class="welcome-tag">"An app for when you're out of Thyme<sup>TM</sup>"</span>
</div>
<div class="background-main">
    {% if not inventory_count > 0  %}

        <div class="info"><p>There are currently no herbs listed at the {{ user.complexes.complex_name|title }}. Why don't you DONATE one?</p></div>

    {% else %}

        <div class="info"><p>Currently there are <b>{{ inventory_count }}</b> herb(s) available in the <b>"{{ user.complexes.complex_name|title }}"</b> building.</p></div>

    <div class="content">
        <div id="herb-list" class="row justify-content-center">
            {% for listing in inventory %}

                <div class="card {% if listing.status in [2,3] %}pending{% endif %}">
                  <div class="card-img-top-overlay">{{ listing.herb.herb_name|upper }}</div>
                  <img class="card-img-top" src="/static/img{{ listing.herb.img_url }}">
                  <div class="card-block">
                    <div class="card-title">Owned by: <b>{{ listing.user.fname|title }}</b>
                    <p class="card-text m-0"><small class="text-muted">This herb will expire on: {{ listing.exp_date.strftime('%A %d, %B %Y') }}</small></p></p>
                    <p class="card-text"><b>Additional info for this bundle:</b> <br>{{ listing.user_herb_descript }}</p>
                  </div>
                            <!-- BUTTON LOGIC -->
                            {% if listing.status == 1 and listing.user_id != user.user_id %}
                                <p class="notification"></p>
                                <div class="card-footer">
                                    <p class="action-btn">
                                    <a href="#" onclick="confirmPickup('{{ listing.inventory_id }}'); return false;" class="btn btn-block btn-primary">Request this herb</a>
                                    </p>
                                </div>

                            {% elif listing.status == 1 and listing.user_id == user.user_id %}
                                <p class="notification"></p>
                                <div class="card-footer">
                                    <p class="action-btn">
                                    <a href="#" onclick="confirmDeletion('{{ listing.inventory_id }}'); return false;" class="btn btn-block btn-danger">Delete this herb</a>
                                    </p>
                                </div>

                            {% elif listing.status == 2 and listing.pickup_user_id == user.user_id %}
                                <p class="notification"><span class="badge badge-secondary">Waiting for user to respond</span></p>
                                <div class="card-footer">
                                    <p class="action-btn">
                                    <a href="#" onclick="updateStatus('cancel', '{{ listing.inventory_id }}', ''); return false;" class="btn btn-block btn-danger">Cancel pickup request</a>
                                    </p>
                                </div>

                            {% elif listing.status == 2 and listing.user_id == user.user_id %}
                                <p class="notification"></p>
                                <div class="card-footer">
                                    <p class="action-btn">
                                    <a href="#" onclick="pickupReady('{{ listing.inventory_id }}'); return false;" class="btn btn-block btn-success">Prepare Pickup</a>
                                    </p>
                                </div>

                            {% elif listing.status == 3 and listing.pickup_user_id == user.user_id %}
                                <p class="notification"><span class="badge badge-light">Pickup Instructions: {{ listing.pickup_instructions }}</span></p>
                                <div class="card-footer">
                                    <p class="action-btn">
                                    <a href="#" onclick="updateStatus('complete', '{{ listing.inventory_id }}', ''); return false;" class="btn btn-block btn-info">Complete Pickup</a>
                                    </p>
                                </div>

                            {% else %}
                                <p class="notification"></p>
                                <div class="card-footer">
                                <p class="notification"><span class="badge badge-secondary">Waiting for user to respond</span></p>
                                </div>
                            {% endif %}
                                
                        </div>
                    </div>

            {% endfor %}
        </div>


    <!--
    <p>Completed history of APT COMPLEX</p>
    {% for listing in completed_listings %}

        <div class="row">
            Inventory ID: {{ listing.inventory_id }}
            <br>
            Listing User: {{ listing.user.fname }}
            <br>
            Pickup User: {{ listing.pickup_user.fname }}
            <br>
            Listing Date: {{ listing.listing_date }}
        </div>

    {% endfor %}

    <p>Complete history of USER INVENTORY</p>
    {% for listing in user.inventories %}
        <div class="row">
            Inventory ID: {{ listing.inventory_id }}
            <br>
            Listing User: {{ user.fname }}
            <br>
            Listing Date: {{ listing.listing_date }}
        </div>
    {% endfor %}
    -->


    </div> <!-- content end -->
    {% endif %}

</div> <!-- background end -->

  
{% endblock %}

